body {
    color: #444;
    background-color: #fff;
}

h2 {
    color: #999;
}

a {
    color: #999;
}

.card {
    float: left;
    width: 280px;
    border: thin dotted #999;
    height: 173px;
    padding: 20px;
    margin: 10px;
    page-break-after: always;
}
